div.footer
  span.author 
    i.icon-user 
    a(href='http://github.com/needim') Nedim Arabacı 
  span.powered
    i.icon-beaker 
    a(href='http://nodejs.org/') Node.js
    , 
    a(href='http://expressjs.com/') Express
    , 
    a(href='http://socket.io/') Socket.io
    , 
    a(href='http://fortawesome.github.com/Font-Awesome/') Font Awesome
    , 
    a(href='http://twitter.github.com/bootstrap') Twitter Bootstrap
    , 
    a(href='https://github.com/ajaxorg/node-github') node-github
    , 
    a(href='https://github.com/Poetro/node-cache2file') node-cache2file
  br
  span.rateLimit
    
