div.navi
  ul.navi
    li
      a(href='/user/' + userDetail.login + '/repositories') Repositories
    li
      a(href='/user/' + userDetail.login + '/gists') Gists
    li
      a(href='/user/' + userDetail.login + '/followers') Followers
    li.home
      a(href='/') View another user
