div.navi
  ul.navi
    li
      a(href='/user/' + user + '/repositories') Repositories
    li
      a(href='/user/' + user + '/gists') Gists
    li
      a(href='/user/' + user + '/followers') Followers
    li.home
      a(href='/') View another user
