div.profile
  div.avatar
      img(src='/images/avatar.png')
  div.info
      span.username
        img(src='/images/3s.gif')
      br
      span.location
      span.job
      span.followers
      span.publicRepos
      span.publicGist