div.profile
  div.avatar
      img(src=userDetail.avatar_url)
  div.info
      span.username= userDetail.name
        span.nickname= userDetail.login
      br
      span.location= userDetail.location
      span.followers
        strong Followers: 
        = userDetail.followers
      span.publicRepos
        strong Public Repos: 
        = userDetail.public_repos
      span.publicGists
        strong Public Gists: 
        = userDetail.public_gists