!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    script(src='/javascripts/jquery-1.7.2.min.js')
    script(src='/javascripts/jquery.tmpl.js')
    script(src='/javascripts/jquery.url.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/web.js')
  body!= body